<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BookReviewsApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" -->
  <link rel="stylesheet" type="text/css" href="static\book28.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/5b09007c1f.js" crossorigin="anonymous"></script>
  <style>
    img {
      width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <div id="container">

    <div class="item1">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BooksReviews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:5000">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Community</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">{{ name }}</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="http://127.0.0.1:5000/login">Sign in</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('.logout') }}">Sign out</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <div class="item2">
      {% block item2 %}
      {% endblock %}
    </div>

    <div class="item3">
      {% block item3 %}
      {% endblock %}
    </div>




    <div class="item4">
      {% block item4 %}
      {% endblock %}
    </div>

    <div class="item5">
      <div class="itemFifth">
        <h1 class="page_title">BookReviewsApp</h1>
        <div class="itemFifth1">
          <h2>Subscriptions</h2>
          <div class="footer_list">
            <ul>
              <li>Bookstore</li>
              <li>Library</li>
              <li>Individual</li>
              <li>Digital</li>
              <li>Find BookReviewsApp</li>
            </ul>
          </div>
          <h2>Company</h2>
          <div class="footer_list">
            <ul>
              <li>About BookReviewsApp</li>
              <li>Advertise</li>
              <li>Contact Us</li>
              <li>Privacy Policy</li>
              <li>Submission Guidelines</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="media">
          <ul>
            <li><i class="fa fa-facebook-square"></i></li>
            <li><i class="fa fa-instagram"></i></li>
            <li><i class="fab fa-codepen"></i></li>
            <li><i class="fab fa-github"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-quora"></i></li>
          </ul>
        </div>
      </div>
      <div class="itemFifth3">
        <h6>Copyright Me 2020. All Rights Reserved</h6>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>